@import url('https://cdn.jsdelivr.net/gh/fxxk3rrth4ng/webFonts/fonts.css');

body {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	padding-left: 10px;
}

a {
	text-decoration: inherit;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}